* {
  margin: 0;
  padding: 0;
}

:root {
  --font: #232b2b;
  --hover: #f0d4b3;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  background-image: linear-gradient(#ffecd2 10%, #fcb69f);
  color: var(--font);
}

.grid-top {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid-bottom {
  display: grid;
  justify-content: center;
  grid-template-rows: 100px;
}

.form {
  display: none;
}

.add-button > button {
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  background-color: inherit;
  color: var(--font);
  font-weight: bold;
  border-radius: 15px;
}

.add-button > button:hover {
  cursor: pointer;
  background-color: var(--hover);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
